[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]

boto3 = "*"
channels = "*"
CherryPy = "*"
Django = "==2.2.24"

dj-database-url = "*"
django-allauth = "*"
django-angular = "*"
django-channels = "*"
django-chartjs = "*"
django-classy-tags = "*"
django-compressor = "*"
django-cookie-law = "*"
django-crispy-forms = "*"
django-easy-maps = "*"
django-embed-video = "*"
django-emoji = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-form-utils = "*"
django-haystack = "*"
django-hitcount = "*"
django-jchart = "*"
django-jquery = "*"
django-markdown-deux = "*"
django-modelcluster = "*"
django-mptt = "*"
django-pagedown = "*"
django-qrcode = "*"
django-registration-redux = "*"
django-sitetree = "*"
django-static-jquery = "*"
django-storages = "*"
django-tagging = "*"
django-taggit = "*"
django-treebeard = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"

gunicorn = "*"

html5lib = "*"
httplib2 = "*"
Flask = "*"
Jinja2 = "*"
Mako = "*"
Markdown = "*"

psycopg2 = "*"
python-twitter = "*"
PyMySQL = "*"
pyparsing = "*"
PyYAML = "*"

qrcode = "*"

rest-pandas = "*"
sorl-thumbnail = "*"
wagtail = "*" 
# watson-developer-cloud = "*"
Werkzeug = "*"   # for django-extensions
whitenoise = "==3.0"
xhtml2pdf = "*"

[requires]
python_version = "3.7"
