{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My deck.js Presentation</title>

  <link rel="stylesheet" media="screen" href='{% static "vendor/revealjs/reveal.css" %}'>
  <link rel="stylesheet" media="screen" href='{% static "css/slides1.css" %}'>   <!-- Style theme. More available in /themes/style/ or create your own. -->

<script src='{% static "vendor/jquery/jquery-3.2.1.min.js" %}'> </script>
</head>

<body>
<div class="container">
	<header>
		<nav><span><h1>
				parp
				<a href='{% url "charts:chart2" %}'>Getting Started</a>
				<a href='{% url "charts:chart1" %}'>charts</a></li>

		</h1></span></nav>
	</header>

	  <div class="reveal">
		  <div class="slides">


		{% include 'reveal/slideTitle.html' %}

		{% include 'reveal/slide1.html' %}

		{% include 'reveal/slide2.html' %}

		{% include 'reveal/slide3.html' %}

		{% include 'reveal/slide4.html' %}

		{% include 'reveal/slide5.html' %}

	  		</div>
	  </div>

  </div>

    <script src='{% static "vendor/revealjs/head.min.js" %}'></script>
  <script src='{% static "vendor/revealjs/reveal.js" %}'></script>
  <script>
  	Reveal.initialize({
  		dependencies: [
			{ src: '{% static "vendor/revealjs/plugin/chart/csv2chart.js" %}' },
			{ src: '{% static "vendor/revealjs/plugin/chart/Chart.min.js" %}' },
  		]
  	});
  </script>
</body>
</html>
