{% extends "base/base.html" %}
{% load staticfiles %}

{% block head_extra %}
<script type="text/javascript" src="{% static 'js/charts/charts.config.js' %}" defer></script>
{% endblock %}

<script>
{% block jquery %} //not needed unless doing jquery
var endpoint = '/charts/api/chart/data/'  //for using json api data via ajax, defined in view/url.py
//var data = "{{ customers }}"		//django renders data on pageload
//var defaultData = []
//var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){			//takes data from the url specified in var endpoint
        labels = data.labels			//get from REST api view
        defaultData = data.default
		backgroundColor = data.colour_background		//JSON data defined in veiw
		borderColor = data.colour_border
		console.log(data)
        setChart()						//if GETs data then does setchart function
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
	var ctx = document.getElementById("myChart");   //puts blank chart in this canvas
	var myChart = new Chart(ctx, {
	    type: 'polarArea',
	    data: {
	        labels: labels,		//labels chart (legends for pie / radial)
	        datasets: [{
	            //label: '# of Votes',		//nothing?
	            data: defaultData,
	            backgroundColor: [
	                pinktr,
	                bluetr,
	                yellowtr,
	                greentr,
	                purpletr,
	                orangetr
	            ],
	            borderColor: [
					pink,
	                blue,
	                yellow,
	                green,
	                purple,
	                orange
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});


}
{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
    	<h1>Hello World</h1>

		<div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>

        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>

		<div class='col-sm-6'>
			<canvas id="myChart3" width="400" height="400"></canvas>
		</div>

		<div class='col-sm-6'>
			<canvas id="myChart4" width="400" height="400"></canvas>
		</div>

    </div>
</div>

{% endblock content %}
