
{% extends 'base.html' %}
{% load staticfiles %}
<script>
{% block jquery %}
var endpoint = '/charts/api/chart/data/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        //setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
Chart.defaults.global.maintainAspectRatio = false;
var ctx1 = $("#NestedChart").get(0).getContext("2d");
var myChart1 = new Chart(ctx1, {
	type: 'doughnut',
	data: {
		labels: [1,2,3,4,5],		//labels chart (legends for pie / radial)
		datasets: [{
			//label: '# of Votes',		//nothing?
			data: [10,89,4,34,33],
			//borderWidth: 2,
			//datasetStroke: 2,
		},
		{
			//label: '# of Votes',		//nothing?
			data: [10,89,4,34,33],
			//backgroundColor: 'rgba(0,0,0,0)',
		//	borderWidth: 2,
		},
		{
			//label: '# of Votes',		//nothing?
			data: [101,2,14,44,60],
			//borderWidth: 2,
				}
			]
	},
	options: {

		cutoutPercentage: 0,
		//segmentStrokeColor: 'rgba(2,56,56,1)',
	//	segmentStrokeWidth: 10,
		segmentShowStroke: false,
    animation: {
        duration:2000
    },
     responsive:true,
    maintainAspectRatio: true
}
	});

// var ctx2 = $("#NestedChart2").get(0).getContext("2d");
// var myChart2 = new Chart(ctx2, {
// 	type: 'pie',
// 	data: {
// 		labels: [1,2,3,4,5],		//labels chart (legends for pie / radial)
// 		datasets: [{
// 			//label: '# of Votes',		//nothing?
// 			data: [10,89,4,34,33],
// 		}
// 	]
// },
// options: {
// animation: {
// duration:2000
// },
// responsive:false,
// maintainAspectRatio: false
// }
// });

{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-4'>
        <div style="position: relative; height: 500px; width:500px" class='col-sm-6'>
            <canvas style="position:absolute; top: 0px; left: 0px" id="NestedChart" width="400" height="400"></canvas>
			<canvas style="position:absolute; top: 18%; left: 20%" id="NestedChart2" width="200" height="200"></canvas>
        </div>



    </div>


	<div id="canvas-holder" class='col-sm-4'>
			<canvas id="chart-area" width="500" height="500"/>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/chartjs/Chart.smith.js' %}" defer></script>
	<script>
		window.onload = function() {
			var ctx = document.getElementById("chart-area").getContext("2d");
			window.mySmith = new Chart(ctx, {
				type: 'smith',
				options: {
					elements: {
						point: {
							pointStyle: '',
							radius: 0,
							hoverRadius: 10,
							borderColor: 'black'
						}
					}
				},
				data: {
					datasets: [{
						label: 'My Dataset1',
						data: [ { real : 1.0, imag : 2.0},
								{ real : 1.0, imag : 1.0},
								{ real : 1.0, imag : -1.0}
						],
						borderColor: "red",
						backgroundColor: "pink",
					},
					{
						label: 'My Dataset2',
						data: [ { real : 11.0, imag : 1.5},
								{ real : 1.0, imag : 1.5},
								{ real : 2.0, imag : -1.0}
						],
						borderColor: "blue",
						backgroundColor: "lightblue",
					}


					]
				}
			})
		};
	</script>

{% endblock content %}
