<section class="slide" id="_slideTitle" data-menu-title="Title" style="">

	<div class="wrapper1-1-1-1-1" style="">
		<div class=""></div>
		<div class=""></div>
		<div class=""></div>
		<div class=""></div>
		<div class=""></div>

		<div class=""></div>
		<div class=""></div>
		<div class="" style="text-align: bottom center;"><h1>Direct Mass Analysis of Water Absorption on Actinide Oxide Thin Films</h1></div>
		<div class=""></div>
		<div class=""></div>

		<div class=""></div>
		<div class=""></div>
  		<div class=""></div>
		<div class=""></div>
		<div class=""></div>

 		<div class=""></div>
		<div class="" style="text-align: left; grid-column-end: span 2;">
			<ul><li><h3 class="gr">Dominic  Laventine</h3></li>
				<li><h3 class="gr">Colin Boxall</h3></li>
			</ul>
		</div>
		<div class=""></div>
		<div class=""></div>



		<div class=""></div>
		<div class="" style="text-align: left; grid-column-end: span 2;">
			<ul><li><h3>&nbsp;</h3></li>
				<li><h3 class="b">Lancaster University, Distinctive 2014-2018</h3></li>
			<ul>
		</div>
		<div class=""></div>
		<div class=""></div>
		<div class=""></div>

		<div class=""></div>
		<div class=""></div>
		<div class=""></div>
		<div class=""></div>
		<div class=""></div>
  	</div>

	<aside class="notes">
		<p></p>
	</aside>

</section>
