<section class="slide" id="slide1">
	<section id="slide1a">
		<div class="wrapper2x2">
			<div class="one2x2"><h1>Slide 1</h1></div>
			<div class="two2x2"><p>This is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, woooo</p></div>

			<div class="three2x2">
				<p class="">
					\[\begin{aligned}
					\dot{x} &amp; = \sigma(y-x) \\
					\dot{y} &amp; = \rho x - y - xz \\
					\dot{z} &amp; = -\beta z + xy
					\end{aligned} \]
          		</p>
        		<span class="fragment fade-in"><p class="fragment fade-out">
					\[\begin{aligned}
					\dot{x} &amp; = \sigma(y-x) \\
					\dot{y} &amp; = \rho x - y - xz \\
					\dot{z} &amp; = -\beta z + xy
					\end{aligned} \]
				</p></span>
        		<p class="fragment">
					Vertical Asymptote: x=-1</p>
			</div>

			<div class="four2x2"><p>This is a slide, woooo</p>
			</div>
	  	</div>

	  	<aside class="notes">
		  <p> Notes for slide 1a</p>
	  	</aside>
	</section>

  	<section id="slide1b">
		<div class="wrapper3x3" style="">
			<div class="one"><h1>gfreg</h1></div>
			<div class="two"><h1>gerg</h1></div>
			<div class="three"><h3>ge</h3></div>
		</div>
	</section>

</section>
