<section class="slide" id="slide1">
	<header><nav class="navbar navbar-default" >
				<a href='{% url "charts:chart2" %}'>Getting Started</a>
				<a href='{% url "charts:chart1" %}'>charts</a>
		</nav></header>
		
	<div class="wrapper2x2">
		<div class="one2x2"><h1>Slide 1</h1></div>
		<div class="two2x2"><p>This is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, woooo</p></div>
		<div class="three2x2"><h3>Company</h3></div>
		<div class="four2x2"><p>This is a slide, woooo</p></div>
  </div>



</section>
