<section class="slide" id="slideRefs" data-menu-title="References">

	<div class="wrapper2x2">
		<div class="one2x2"><h1>References</h1>
			<p><sup id="en1">1. [Text of footnote 1]<a href="#slide2a" title="Jump back to footnote 1">↩</a></sup></p>
			<p><sup id="en2">2. [Text of footnote 2]<a href="#slide2a" title="Jump back to footnote 2">↩</a></sup><p>

		</div>
		<div class="two2x2"><p>This is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, wooooThis is a slide, woooo</p></div>
		<div class="three2x2"><h3>Company</h3></div>
		<div class="four2x2"><p>This is a slide, woooo</p></div>
  </div>


</section>
