{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My deck.js Presentation</title>

  <link rel="stylesheet" media="screen" href='{% static "vendor/revealjs/reveal.css" %}'>
  <link rel="stylesheet" media="screen" href='{% static "css/slides1.css" %}'>   <!-- Style theme. More available in /themes/style/ or create your own. -->

<script src='{% static "vendor/jquery/jquery-3.2.1.min.js" %}'> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js'></script>
<script type="text/javascript" src="{% static 'vendor/chartjs/patternomaly.js' %}"></script>

</head>

<body>
		<!--<header><nav class="navbar navbar-default" ><h1>
					<a href='{% url "charts:chart2" %}'>Getting Started</a>
					<a href='{% url "charts:chart1" %}'>charts</a>
			</h1></nav></header>-->

	  <div class="reveal">
	  <div class="slides">
		  {% include 'distinctive/slideTitle.html' %}
		  {% include 'distinctive/slide1.html' %}



	</div><!--slides-->
	</div><!--reveal-->

    <script src='{% static "vendor/revealjs/head.min.js" %}'></script>
  <script src='{% static "vendor/revealjs/reveal.js" %}'></script>
  <script>
  	Reveal.initialize({
		width: '100%',
   		height: '100%',
  		dependencies: [

  		]
  	});
  </script>
</body>
</html>
