html, body {
	font-family: ;
	font-size: 16px;
	margin:0;
	padding:0;
}

.reveal header, .reveal footer {
	color: white;
	background-color: steelblue;
	/*padding:0.05rem;*/
	/*clear: left;*/
	text-align: center;
	/*width: 100%;*/
}

.reveal .slides .slide ul {
	list-style: none;
	margin-left: 0rem;
}


div, .reveal div, .slides div, .slide div {
	border:1px dotted lightgray;
	padding:0rem;
	margin:0rem;
}

.reveal .slides  {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.reveal .slides>section {
  min-height: 100%;
  top: auto;
}

.reveal .slides>section>section {
  min-height: 100%;
}

.wrapper1-3-1 {
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  grid-template-rows: repeat(3, 1fr) repeat(3, 0.5fr);
  grid-gap: 5px;

}

.wrapper1-1-1-1-1 {
  display: grid;
  grid-template-columns: 10% 10% repeat(1, 1fr) 10% 10%;
  grid-template-rows: repeat(3, 1fr) repeat(3, 0.75fr);
  grid-gap: 5px;

}

.wrapper1-1-1 {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;

}
.wrapper3x3 {
  display: grid;
  position: absolute;
  top: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  /*grid-auto-rows: minmax(20rem, auto); */
  grid-template-rows: 2.5rem 20rem 20rem 20rem 2.5rem;
}

.wrapper3x3 header {
	grid-column: 1 / 4;
    grid-row: 1;
	padding: 0.01rem;
}

.wrapper3x3 footer {
	grid-column: 1 / 4;
    grid-row: 5;
	padding: 0.01rem;
}

.one3x3 {
  grid-column: 1;
  grid-row: 2;
  background-color: ;
}
.two3x3 {
  grid-column: 2;
  grid-row: 2;
  background-color: ;
}
.three3x3 {
  grid-column: 3;
  grid-row: 2;
  background-color: ;
}

.four3x3 {
  grid-column: 1;
  grid-row: 3;
  background-color: ;
}

.five3x3 {
  grid-column: 2;
  grid-row: 3;
  background-color: ;
}

.six3x3 {
  grid-column: 3;
  grid-row: 3;
  background-color: ;
}

.seven3x3 {
  grid-column: 1;
  grid-row: 4;
  background-color: ;
}

.eight3x3 {
  grid-column: 2;
  grid-row: 4;
  background-color: ;
}

.nine3x3 {
  grid-column: 3;
  grid-row: 4;
  background-color: ;
}

.wrapper2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(25rem, auto);

}
.one2x2 {
  grid-column: 1;
  grid-row: 1;
  background-color: ;
}
.two2x2 {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  background-color: ;
}
.three2x2 {
  grid-column: 1;
  grid-row: 2;
  background-color: ;
}
.four2x2 {
  grid-column: 2;
  grid-row: 2;
  background-color: ;
}



.reveal h1 {
	font-size: 4rem;
}

.reveal h2 {
	font-size: 3rem;
}

 .reveal h3 {
	font-size: 2rem;
}

.reveal h4 {
   font-size: 1.5rem;
}

.reveal h5 {
   font-size: 1.2rem;
  }

.reveal p {
   font-size: 1rem;
   color: black;
}

.reveal .r {
	color: red;
}

.reveal .g {
	color: green;
}

.reveal p.b, h3.b, h4.b, h5.b {
	color: blue;
}

.reveal p.gr, h3.gr, h4.gr, h5.gr, q.gr {
	color: grey;
}

.reveal .lgr {
	color: lightgrey;
}
