body {
	font-family: arial;
}

div.container {
	width: 100%;
	height: 100%;
	border: 1px solid gray;
}

header, footer {
	padding: 0.01em;
	color: white;
	background-color: steelblue;
	clear: left;
	text-align: center;
}
