<section class="slide" id="pie">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
	<script>
	// $(document).ready(function(){
	// var endpoint = '/charts/api/chart/data/'
	// var defaultData = []
	// var labels = [];
	// $.ajax({
	//     method: "GET",
	//     url: endpoint,
	//     success: function(data){
	//         labels = data.labels
	//         defaultData = data.default
	//         //setChart()
	//     },
	//     error: function(error_data){
	//         console.log("error")
	//         console.log(error_data)
	//     }
	// })
	Chart.defaults.global.maintainAspectRatio = false;
	
	</script>

	<div class='row'>
	    <div class='col-sm-12'>
	        <h1>Hello World</h1>
	        <div style="position: relative; height: 500px; width:500px" class='col-sm-6'>
	            <canvas style="position:absolute; top: 0px; left: 0px" id="NestedChart" width="400" height="400"></canvas>
	        </div>



	    </div>
	</div>
</section>
