{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My deck.js Presentation</title>

  <link rel="stylesheet" media="screen" href='{% static "vendor/deckjs/core/deck.core.css" %}'>
  <link rel="stylesheet" media="screen" href='{% static "vendor/deckjs/extensions/goto/deck.goto.css" %}'>
  <link rel="stylesheet" media="screen" href='{% static "vendor/deckjs/extensions/menu/deck.menu.css" %}'>
  <link rel="stylesheet" media="screen" href='{% static "vendor/deckjs/extensions/navigation/deck.navigation.css" %}'>
  <link rel="stylesheet" media="screen" href='{% static "vendor/deckjs/extensions/status/deck.status.css" %}'>
  <link rel="stylesheet" media="screen" href='{% static "vendor/deckjs/extensions/scale/deck.scale.css" %}'>

  <link rel="stylesheet" media="screen" href='{% static "css/slides1.css" %}'>   <!-- Style theme. More available in /themes/style/ or create your own. -->
  <link rel="stylesheet" media="screen" href='{% static "vendor/deckjs/themes/transition/fade.css" %}'> <!-- Transition theme. More available in /themes/transition/ or create your own. -->
  <link rel="stylesheet" media="print" href='{% static "vendor/deckjs/core/print.css" %}'> <!-- Basic black and white print styles -->

  <!--

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->
<script src='{% static "vendor/jquery/jquery-3.2.1.min.js" %}'> </script>
<script src='{% static "vendor/deckjs/modernizr.custom.js" %}'></script> <!--needed for ie11 and FF-->
<script src='{% static "vendor/deckjs/core/deck.core.js" %}'></script>

</head>

<body>
<div class="container">
	<header>
		<nav><span><h1>
				parp
				<a href='{% url "charts:chart2" %}'>Getting Started</a>
				<a href='{% url "charts:chart1" %}'>charts</a></li>
				<a href="http://github.com/imakewebthings/deck.js">GitHub</a>
		</h1></span></nav>
	</header>

  <div class="deck-container">



	{% include 'slides1/slideTitle.html' %}

	{% include 'slides1/slide1.html' %}

	{% include 'slides1/slide2.html' %}

	{% include 'slides1/slide3.html' %}

	{% include 'slides1/slide4.html' %}

	{% include 'slides1/slide5.html' %}


    <!-- deck.navigation snippet -->
    <div aria-role="navigation">
      <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
      <a href="#" class="deck-next-link" title="Next">&#8594;</a>
    </div>

    <!-- deck.status snippet -->
    <p class="deck-status" aria-role="status">
      <span class="deck-status-current"></span> / <span class="deck-status-total"></span>
    </p>

    <!-- deck.goto snippet -->
    <form action="." method="get" class="goto-form">
      <label for="goto-slide">Go to slide:</label>
      <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
      <datalist id="goto-datalist"></datalist>
      <input type="submit" value="Go">
    </form>

  </div>
  </div>



<!-- Extension JS files. Add or remove as needed.-->
<script src='{% static "vendor/deckjs/extensions/menu/deck.menu.js" %}'></script>
<script src='{% static "vendor/deckjs/extensions/goto/deck.goto.js" %}'></script>
<script src='{% static "vendor/deckjs/extensions/status/deck.status.js" %}'></script>
<script src='{% static "vendor/deckjs/extensions/navigation/deck.navigation.js" %}'></script>
<script src='{% static "vendor/deckjs/extensions/scale/deck.scale.js" %}'></script>
<script src='{% static "vendor/deckjs/extensions/events/deck.events.js" %}'></script>

<script>
<!-- Initialize the deck. You can put this in an external file if desired. -->
  $(function() {
    $.deck('.slide', {countNested: false});
	$.deck('showGoTo') <!--click g, enter to hide -->
	$.deck('enableScale'); <!--click s? -->
	//$.deck('showMenu');  <!--start on menu page. if off, click m -->

	 });
</script>
</body>
</html>
